/* Home */

.bg-custom {
  background-color: #7e8082;
}

.navbar-dark .navbar-nav .nav-link {
  color: #222121;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
          color: #ff6347 !important; 
          background-color:beige !important; 
      }

.main{
display: flex;
position: relative;
width: 100%;
height: auto !important;
/* border: 1px solid; */
}

.b{
/* flex-direction: column; */
/* border: 1px solid; */
width: 100%;
/* margin-top: 2vw; */
height: auto !important;
}
.a{
width: 0%;
min-width: 280px;
}
.folder-container{
display: flex;
justify-content: space-around;
}

.folder img{
height: 6vw;
width: 6vw;
}
h5{
text-align: center;

}
@media (max-width:476px) {
.main{
  flex-direction: column;
}
.a{
  width: 100%;
}
.main{
display: block;
}
.a{
width: 100% !important;
}
.ani{
width: 100% !important;
}

.folder{
height: auto;
width: 40% !important;
margin-top: 60px !important;
}
}


.folder-container {
display: flex;
flex-wrap: wrap;
justify-content:center;
}

.folder-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.folder {
width: calc(20% - 20px); 
margin: 1%;
padding: 2%;

text-align: center;

height: 0;
padding-top: 5%; 
padding-bottom: 7%;
border-radius: 4%;
position: relative;
user-select: none;
}

/* .folder:before {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
} */

@media screen and (max-width:476px){
.main{
display: block;
}
.a{
width: 100% !important;
}
.ani{
width: 100% !important;
}

.folder{
height: auto;
width: 40% !important;
margin-top: 60px !important;
}

}
/* Media query for desktop view */
@media (min-width: 992px) {
.folder {
width: calc(15% - 15px); /* 20% width for each folder with a little spacing */
}
}
@media (max-width: 768px) {
.folder {
    width: 80px; /* Adjust the width for smaller screens */
    height: 80px; /* Ensure the height matches the width */
}
}
.b{
width: 100%;
/* margin-top: 5%; */
/* border: 2px solid; */

}
/* width: 100%; Set the image width to fill the folder */
/* height: auto; Maintain aspect ratio */

.folder h5 {
margin: 0;
font-size: 14px; /* Adjust the font size as needed */
white-space: nowrap; /* Prevent text from wrapping */
overflow: hidden; /* Hide overflow text */
text-overflow: ellipsis; /* Show ellipsis for overflow text */
}


.folder-container img{
height:auto;
width: 80%;
}
.bg-custom {
  background-color: #7e8082; 
}

.navbar-dark .navbar-nav .nav-link {
  color: #222121; 
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
          color: #ff6347; 
          background-color: beige; 
      }


      /* profile */


.parent{
height: 100%;
width: 100%;
display: flex;

}      
.child1{
/* height: ; */
width: 20%;
/* border: 1px solid black; */
min-width: 200px;

}  

.child2 img{
    height: 10vw;
    width: 10vw;
    align-items:center;
    text-align: center;
  }
.child2{
width:30%;
/* border: 1px solid black; */
align-items: left;
padding: 4vw 4vw;
text-align:left;
margin-top: 1vw;


}
.child3{
width: 50%;
/* border: 1px solid black; */
margin-top: 5vw;
/* gap: 2vw; */

}

h4{
font-size: 1.2vw !important;
/* font-style: oblique; */
line-height: 2.5vw;
margin-top: 2vw !important;
}

.child3 img{
height: 7vw;
    width: 7vw;
    align-items:center;
    text-align: center;

}
#button{
/*border: 2px solid black;*/
/* margin-left: 40%;
margin-bottom: 30%; */
float: right;

}


@media (max-width:540px) {
.parent{
  flex-direction: column;
  flex-wrap: wrap;
}
.child1{
  width: 100%;
}
.child2{
  width: 80%;
}
.child2 img{
  height: 40vw;
  width: 40vw;
}
.child3 img{
  height: 35vw !important;
  width: 35vw !important;
}
.child3{
  width: 80%;
}
h4{
  font-size: 4vw !important;
line-height: 4.5vw;
margin-top: 5vw !important;


}
.child2{
  margin-left: 5%;
}
.child3{
  margin-left: 5%;
}
.long{
  line-height: 8vw;
}
}

.parent{
  height: 100%;
  width: 100%;
  display: flex;

}      
.child1{
  /* height: ; */
  width: 20%;
  /* border: 1px solid black; */
  min-width: 200px;

}  

.child2 img{
      height: 10vw;
      width: 10vw;
      align-items:center;
      text-align: center;
    }
.child2{
  width:30%;
  /* border: 1px solid black; */
  align-items: left;
  padding: 4vw 4vw;
  text-align:left;
  margin-top: 1vw;


}
.child3{
  width: 50%;
  /* border: 1px solid black; */
  margin-top: 5vw;
  /* gap: 2vw; */

}

h4{
  font-size: 1.2vw;
  /* font-style: oblique; */
  line-height: 1.5vw;
  margin-top: 2vw;
}

.child3 img{
  height: 7vw;
      width: 7vw;
      align-items:center;
      text-align: center;

}
#button{
 /*border: 2px solid black;*/
  /* margin-left: 40%;
  margin-bottom: 30%; */
  float: right;
  
}


@media (max-width:540px) {
  .parent{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .child1{
    width: 100%;
  }
  .child2{
    width: 80%;
  }
  .child2 img{
    height: 40vw;
    width: 40vw;
  }
  .child3 img{
    height: 20vw;
    width: 20vw;
  }
  .child3{
    width: 80%;
  }
  h4{
    font-size: 4vw;
  line-height: 4.5vw;
  margin-top: 8vw;


  }
  .child2{
    margin-left: 5%;
  }
  .child3{
    margin-left: 5%;
  }
  .long{
    line-height: 8vw;
  }
}

.custom-alert {
  background-color: beige; /* Change this color code to your desired shade of yellow */
  color: #000; /* Text color */
  margin-top: 60px;
}

/* Result */


.parents{
  display: flex;
}

.child-2{
  margin-left: 8vw;
  /* text-align: center;  */
  justify-content: center;
}

@media (max-width:476px) {
  .parents{
    flex-direction: column;
  }
  .child-1{
    width: 100%;
  }
  
}


/* Sehedule */

.parents{
  display: flex;
}

.child-2{
  margin-left: 8vw;
  /* text-align: center; */
  justify-content: center;
}

@media (max-width:476px) {
  .parents{
    flex-direction: column;
  }
  .child-1{
    width: 100%;
  }
  
}

/* view notes */
     
      @media (max-width: 576px) { 
        .custom-responsive-iframe {
          width: 100%; 
          height: 300px;
    
        }
      }
      @media (min-width: 577px) and (max-width: 992px) { 
        .custom-responsive-iframe {
          width: 100%; 
          height: 400px;
    
        }
      }
      @media (min-width: 993px) { 
        .custom-responsive-iframe {
          width: 100%; 
          height: 400px;
        }
      }
      @media (max-width:1500px) {
        #view-notes-table{
          width: 70%;
        }
      }

      .parent{
        display: flex;
      }

      /* video */

      .video{
        height: 400px;
        width: 70%;
        margin-left: 9vw;
        /* margin-top: vw; */
       /* justify-content: center; */
      }
      @media (max-width:476px) {
        .video{
          /* margin-top: 1vw; */
          height: 20%;
          margin-left: 15vw;

        }
        
      }
      @media (min-width: 577px) and (max-width: 992px) { 
        .video {
          /* margin-top: 1vw; */
          height: 80%;
        }
      }


      /* Fees */
      .img{
        height: 10vw;
        width: 10vw;
        margin-left: 7vw;
      }
      .sidebar{
        height: 20%;
        width: 20%;
    
      }
      /* span{
        font-size: 1.5vw;
      } */
      /* label{
        font-size: 1.5vw;
      } */
      .sec-2 p{
        font-size: 15px;
        font-family: sans-serif;
        padding-top: 2%;
      }
      .sec-2{
        margin-top: 10%;
        margin-left: 4%;
      }





      /* Ani  */
   


      .header-section {
        position: relative !important;
        box-shadow: 5px -5px 5px 10px rgba(0, 0, 0, .10);
        width: 100%;
        left: 0;
        top: 0;
        z-index: 100;
    }

    .header-section.navbar-fixed-top {
        position: relative !important;;
    }

    .header-section.navbar-fixed-top .top-header {
        display: none;
    }

    .header-height {
        width: 100%;
    }

    /*Top Header*/

    .top-header {
    background-color: #090099;
        padding: 10px 0;
    }

    .top-content-wrap ul li {
        margin-right: 15px;
        display: inline-block;
    }

    .top-content-wrap ul li a {
        display: inline-block;
        color: #fff;
        font-size: 14px;
    }

    .top-content-wrap ul li i {
        color: #fff;
        margin-right: 10px;
    }

    .top-content-wrap .right-info {
        text-align: right;
    }

    .top-content-wrap .right-info i {
        margin-right: -5px;
        color: #fff;
        line-height: 25px;
        display: block;
        font-size: 12px;
    }

    .top-content-wrap .right-info li:last-child {
        margin-right: 0;
    }


    .widget-section {
      background-color: #222;
      background-image: url(../img/map.png);
      background-position: right 150px center;
      background-repeat: no-repeat;
      width: 100%;
      height: auto !important;
  }

  .widget-content {}

  .widget-content img {
      margin-bottom: 15px;
  }

  .widget-content p {
      color: #999;
  }

  .widget-content h3 {
      color: #ddd;
  }

  .widget-content .social-icon li {
      display: inline-block;
      margin-right: 15px;
  }

  .widget-content .social-icon li a {
      display: inline-block;
      color:#b88b50 !important;
  }

  .widget-content .social-icon li a:hover {
      color: #fff;
  }

  .widget-content .widget-link li a {
      color: #999;
      margin-bottom: 16px;
      display: block;
  }

  .widget-content .widget-link li a:hover {
      color: #090099;
      text-decoration: underline;
  }

  .widget-content .address li {
      margin-bottom: 16px;
      display: block;
      font-family: "Jost", sans-serif;
      color: #999;
  }

  .widget-content .address li i {
      color: #090099;
      margin-right: 10px;
  }


  @media screen and (max-width:476px){
.widget-section{
  margin-top: 150px !important;
}
  }