@media (max-width: 576px) { 
  .custom-responsive-iframe {
    width: 100%; 
    height: 300px;

  }
}
@media (min-width: 577px) and (max-width: 992px) { 
  .custom-responsive-iframe {
    width: 100%; 
    height: 400px;

  }
}
@media (min-width: 993px) { 
  .custom-responsive-iframe {
    width: 100%; 
    height: 400px;
  }
}